/*VARIABLES*/
:root{
    --color-text-body: #D3D3D4;
    --color-primary: #5956E9;
    --color-secondary: #D3D3D4;
    --color-banner: #27272E;
    --color-bg-btn: #ffdc60;
    --color-subtitle: #C75c6f;
    --color-title: #D3D3D4;
    --color-text-description: #99A1A1AA;
    --color-hover-dark: #ffdc60;
    --color-bg-services: #27272E;
    --color-bg-projects: #292930;
    --color-bg-dark: #27272E;
    --color-borders: #393940;
}

body {
    background-color: #212121;
}

.menu__navbar--fixed {
    background-color: var(--color-banner);
}

.nav__submenu {
    background-color: var(--color-banner);
}
.submenu__title:hover {
    color: var(--color-bg-btn);
}

.nav__title:hover {
    color: var(--color-secondary);
}

.nav__title:before {
    background-color: var(--color-secondary);
}

.movile_btn-wrap {
    background-color: var(--color-hover-dark);
}

.banner__btn {
    color: #ffffff;
    background-color: var(--color-primary);
}

.banner__btn:hover {
    color: var(--color-banner);
}

.mobile-btn__line {
    background-color: var(--color-primary);
}
.menu-mobile {
    background-color: var(--color-banner);
}

.menu-mobile__btn_close {
    color: var(--color-bg-btn);
}

.project__content {
    background-color: var(--color-banner);
}

.layout__contact:before {
    background-color: var(--color-banner);
}

.contact__btn {
    color: #ffffff;
    background-color: var(--color-primary);
}

.contact__btn:hover {
    color: var(--color-banner);
}

.fleft__group {
    background-color: #27272E;
    box-shadow: none;
}

.fleft__form-control {
    color: var(--color-title);
    background-color: #27272E;
}

.services__service {
    background: var(--color-banner);
    background-color: var(--color-banner);
}

.service__link:hover,
.service__more:hover {
    color: var(--color-hover-dark);
}
.service__more:hover::before {
    background-color: var(--color-hover-dark);
}

.project__link-title:hover {
    color: var(--color-hover-dark);
}

.categories__item--active {
    border-bottom: 3px solid var(--color-hover-dark);
}

.categories__item:hover {
    border-bottom: 3px solid var(--color-hover-dark);
}

.news__new:hover {
    border-top-color: var(--color-hover-dark);
    border-bottom-color: var(--color-hover-dark);
}

.stats__stat:hover > .stat__count {
    color: var(--color-bg-dark);
}

.news__new:hover .new__title,
.new__more:hover {
    color: var(--color-hover-dark);
}

.fleft__btn:hover {
    color: var(--color-banner);
}

.widget__link:hover {
    color: var(--color-hover-dark);
}

