@media(min-width: 1600px){
    .layout {
        min-width: 1600px;
    }

    .layout__menu {
        padding: 5rem 9.5rem;
    }

    .layout__banner {
        width: calc(100% - 16rem);
        margin: 0 8rem;
        min-height: 85rem;
        padding: 25rem 0 30rem 20rem;
    }

    .services__service {
        padding: 8rem 5rem;
    }
}

@media(min-width: 1199px) and (max-width: 1400px){
    .reviews__grid,
    .clients__container
    .news__container,
    .contact__container,
    .footer__container {
        max-width: 100%;
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@media(max-width: 1200px) {
    .layout {
        min-width: 100%;
    }

    .reviews__grid,
    .news__container,
    .contact__container,
    .footer__container {
        max-width: 100%;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .layout__services {
        margin: 10rem 7rem;
        margin-bottom: 0;
    }

    .nav__item {
        margin: 0 2rem;
    }

    .banner__title {
        font-size: 6rem;
    }

    .services__service {
        padding: 4rem 1.5rem;
    }

    .service__container-img {
        max-width: 6rem;
    }

    .projects__all {
        gap: 3rem;
    }

    .projects__project {
        flex-basis: calc(50% - 1.5rem);
    }

    .layout__stats,
    .layout__clients,
    .layout__contact {
        padding: 10rem 7rem;
    }

    .clients__title {
        width: 70%;
    }

    .clients__description {
        width: 100%;
    }

    .layout__news {
        padding: 10rem 0;
    }

    .news__list {
        flex-direction: column;
    }
    .news__new:last-child {
        border-left: 0;
        padding-left: 0;
    }

}

@media(max-width: 1000px) {
    .layout {
        min-width: auto;
    }

    .navbar__nav {
        display: none;
    }

    .navbar__mobile_btn {
        display: block;
    }

    .layout__banner {
        min-height: 100%;
        margin: 0 3rem;
    }

    .banner__content {
        width: 65%;
    }

    .banner__title {
        font-size: 5rem
    }

    .banner__btn {
        padding: 2rem 3.5rem;
    }
    
    .shapes__item {
        width: 50%;
    }

    .layout__services {
        margin: 8rem 4rem;
    }

    .services__subtitle,
    .projects__subtitle, 
    .stats__stubtitle, 
    .reviews__subtitle, 
    .clients__subtitle, 
    .news__subtitle,
    .contact__subtitle {
        font-size: 1.8rem;
    }

    .services__tile,
    .projects__title,
    .stats__title,
    .reviews__title,
    .clients__title,
    .news__title,
    .contact__title {
        font-size: 5rem;
    }

    .services__list {
        flex-direction: column;
        margin: 5rem 0 7rem 0;
    }

    .services__service  {
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 4rem 2.5rem;
    }

    .service-shapes--sahpe2 {
        display: none;
    }

    .layout__projects {
        padding: 8rem 4rem;
    }

    .project-shapes--sahpe2 {
        display: none;
    }

    .layout__stats, 
    .layout__reviws, 
    .layout__clients, 
    .layout__news{
        padding: 8rem 4rem;
    }

    .stats__description, 
    .clients__description,
    .reviews__description,
    .news__description {
        font-size: 1.7rem;
    }

    .stats__stat {
        flex-basis: calc(50% - 1.5rem);
    }

    .reviews__container {
        flex-direction: column;
    }

    .reviews__review {
        padding: 0 0 5rem 0;
    }

    .clients__title {
        width: 100%;
    }

    .clientes__item {
        flex-basis: calc(50% - 3rem);
    }

    .clients__img {
        margin: 0 auto;
    }

    .new-shapes--sahpe4 {
        display: none;
    }

    .layout__contact {
        padding: 8rem 0;
    }

    .layout__contact:before {
        height: 60rem;
    }

    .contact__btn {
        padding: 1.8rem 3.5rem;
    }

    .contact__img {
        width: 70%;
    }

    .contact__thumb--chat {
        margin-right: -296px;
    }

    .contact__thumb--laptop {
        left: 96px;
        bottom: 0;
    }

    .contact__thumb--mobile {
        right: -38px;
    }

    .reviews__grid, 
    .news__container, 
    .contact__container, 
    .footer__container {
        padding-left: 0;
        padding-right: 0;
    }

    .layout__footer {
        padding: 0 4rem;
    }
    .social__img {
        font-size: 2rem;
    }

    .footer__main {
        flex-direction: column;
    }

    .footer__fleft,
    .footer__fright {
        flex-basis: 100%;
    }

    .fleft__container {
        border: none;
    }

    .footer__bottom {
        flex-direction: column;
    }

    .footer__links,
    .footer__copyright {
        flex-basis: 100%;
    }

    .footer__links {
        margin-top: 1rem;
    }
}

@media(max-width: 768px) {

    .banner__content {
        width: 100%;
    }

    .layout__banner {
        padding: 8rem 3rem;
    }

    .banner__title,
    .services__tile,
    .projects__title,
    .stats__title,
    .reviews__title,
    .clients__title, 
    .news__title,
    .contact__title {
        font-size: 4rem;

    }

    .services__subtitle,
    .projects__subtitle,
    .stats__stubtitle,
    .reviews__subtitle,
    .clients__subtitle,
    .news__subtitle,
    .contact__subtitle{
        font-size: 1.6rem;
    }

    .projects__all {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .projects__project {
        flex-basis: 100%;
    }

    .categories__item {
        font-size: 1.8rem;
    }

    .project__title {
        font-size: 2.2rem;
    }

    .project__tag {
        font-size: 1.5rem;
    }

    .stat__count {
        font-size: 4.4rem;
    }

    .stats__description,
    .clients__description {
        width: 100%
    }
    .reviews__review {
        padding: 0 0 3rem 0;
    }

    .review__company,
    .review__description {
        margin-bottom: 2rem;
    }

    .new__title {
        font-size: 2rem;
    }

    .new__more {
        font-size: 1.5rem;
    }

    .layout__contact  {
        padding-top: 6rem;
        padding-bottom: 4rem;
    }

    .layout__contact:before {
        height: 47rem;
    }

    .contact__thumb--laptop {
        left: 0;
    }

    .contact__thumb--mobile {
        right: -120px;
    }

    .fleft__container {
        padding-right: 0;
        margin-right: 0;
    }

    .news__new {
        flex-direction: column;
        padding-right: 0;
    }

    .new__container-img {
        width: 100%;
        /* max-height: 245px; */
    }

    .new__img {
        width: 100%;
    }
}

@media(max-width: 640px){

    .layout__services,
    .layout__projects,
    .layout__stats,
    .layout__reviws,
    .layout__clients,
    .layout__news,
    .layout__footer {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .layout__services {
        margin-left: 0rem;
        margin-right: 0rem;
    }

    .projects__categories {
        flex-direction: column;
    }

    .news__new {
        padding-right: 0;
    }

    .contact__img {
        width: 35%;
    }

    .contact__thumb--chat {
        margin-right: -475px;
    }

    .contact__thumb--laptop {
        left: 74px;
    }

    .layout__contact:before {
        height: 41rem;
    }

    .footer__fright {
        gap: 3rem;
    }

    .footer__widget--50, 
    .footer__widget--25 {
        flex-basis: auto;
    }

}