/*VARIABLES*/
:root{
    --mx-width: 1320px;
    --color-text-body: #525260;
    --color-primary: #5956E9;
    --color-secondary: #ffffff;
    --color-banner: #2522BA;
    --color-bg-btn: #ffdc60;
    --color-subtitle: #C75c6f;
    --color-title: #292930;
    --color-text-description: #99A1A1AA;
    --color-hover-dark: #303035;
    --color-bg-services: #f8f8f8;
    --color-bg-projects: #ECF2F6;
    --color-bg-dark: #27272E;
    --color-borders: #e3e6e9;
}

/*ESTILOS GENERALES*/
html {
    font-size: 62.5%; /*Para hacer la web mas accesible*/  /*Equivale a font-size: 10px;*/
    overflow-x: hidden;
}

body {
    color: var(--color-text-body);
    font-family: 'DM Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    width: 100%;
    height: 100%;
}

/*ESTRUCTURA*/
.layout {
    width: 100%;
    min-width: 1200px;
    height: 100%;
}

/*MENU*/
.layout__menu {
    width: 100%;
    padding: 3.5rem 3rem;
}

.menu__navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu__navbar--fixed {
    padding: 1.5rem 2rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--color-secondary);
    box-shadow: 0 2px 10px 0 rgba(0, 0,0, 0.10);
    z-index: 9;
}

.navbar__logo {
    width: 187px;
    height: auto;
}

.nav__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav__item {
    margin: 0 2.4rem;
    position: relative;
}

.nav__title {
    color: var(--color-text-body);
    font-weight: 500;
    line-height: 6rem;
    display: inline-block;
    position: relative;
    transition: all 300ms ease-in-out;
}

.nav__title:hover {
    color: var(--color-primary);

}

.nav__title::before {
    content: "";
    width: 0;
    height: 0.2rem;
    left: 0px;
    bottom:  1.2rem;
    opacity: 0;
    background-color: var(--color-primary);
    position: absolute;
    transition: all 300ms;
}

.nav__title:hover::before {
    width: 100%;
    opacity: 1;
}

.nav__icon {
    font-size: 1rem;
    font-weight: bold;
    padding-left: 0.2rem;
    vertical-align: middle;
}

.nav__submenu {
    color: #525260;
    background-color: var(--color-secondary);
    top: 100%;
    left: 2rem;
    min-width: 19rem;
    padding: 1.5rem 1rem;
    border-radius: 4px;
    box-shadow: 0px 13px 48px 0 rgba(0, 0,0, 15%);
    display: block;
    position: absolute;
    visibility: hidden;  /*esto hace de que no se pueda clicar cuando no estas en el hover del menu princial, sin esto se podia hacer click fuera del bloque*/
    opacity: 0;
    transition: all 300ms ease-in-out;
}

.submenu__item {
    opacity: 0;
    transition: all 100ms ease-in-out;
    transform: translateX(2rem);
}

.submenu__item:nth-child(1) {  /*el submenu tarda en salir los segundos marcados*/
    transition-delay: 100ms;
}

.submenu__item:nth-child(2) {  /*el submenu tarda en salir los segundos marcados*/
    transition-delay: 200ms;
}

.submenu__item:nth-child(3) {  /*el submenu tarda en salir los segundos marcados*/
    transition-delay: 300ms;
}

.submenu__title {
    color: var(--color-text-body);
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: capitalize;
    padding: 0.7rem 1.5rem;
    display: block;
    position: relative;
    transition: all 300ms ease-in-out;
}

.nav__item:hover>.nav__submenu {  /*> elemento directo hijo*/
    visibility: visible;
    opacity: 1;
    left: 0;
    z-index: 999;
}

.nav__item:hover .submenu__item {
    opacity: 1;
    transform: translateX(0);
}

.submenu__title:hover {
    color: var(--color-primary);
}
/* 
.submenu__title::after{
    content: "";
    height: 0.1rem;
    width: 0;
    top: 80%;
    left: 0;
    background-color: var(--color-primary);
    position: absolute;
    transition: all 300ms ease-in-out;
}

.submenu__title:hover::after {
    width: 80%;
} */


/*BANNER*/
.layout__banner {
    width: calc(100% - 6rem);
    min-height: 60rem;
    padding: 15rem 0 20rem 10rem;
    border-radius: 6rem;
    margin: 0 auto;
    background-color: var(--color-banner);
    overflow: hidden; /*para que todo lo que sobresalga se oculte*/
    position: relative;
}

.banner__content {
    width: 50%;
    padding: 0 1.5rem;
    display: inline-block;
    position: relative;  /*para que funcione el zindex y la imagen no tape el botón- para usar el z-index tiene que ser en position absolute o relative*/
    z-index: 3;
}

.banner__title {
    color: var(--color-secondary);
    font-size: 8rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 3rem;
}

.banner__btn {
    color: var(--color-banner);
    font-size: 1.7rem;
    font-weight: 500;
    text-transform: capitalize;
    background-color: var(--color-secondary);
    padding: 2.8rem 4.5rem;
    border-radius: 2rem;
    box-shadow: 0px 45px 80px -25px var(--color-primary);
    display: inline-block;
    transition: all 300ms ease-in-out;
}

.banner__btn:hover {
    color: var(--color-text-body);
    background-color: var(--color-bg-btn);
}

.shapes__item {
    position: absolute;
    z-index: 1;
    pointer-events: none;  /*para que no se le pueda hacer clic a la imagen*/
}

.shapes__item--shape1 {
    text-align: right;
    top: 0;
    right: 0;
    z-index: 2;

    animation-name: showRight;
    animation-duration: 1s;
}

@keyframes showRight {
    0% {
        transform: translateX(50%);  /*Se mueve un 50 porciento a la derecha*/
    }
    100% {
        transform: translateX(0%); /*Vuelve a su posición incial*/
    }
}

.shapes__item--shape2 {
    text-align: left;
    bottom: 0;
    left: 0;

    animation-name: showLeft;
    animation-duration: 1s;
}

@keyframes showLeft {
    0% {
        transform: translateX(-50%);  /*Se mueve un 50 porciento a la derecha*/
    }
    100% {
        transform: translateX(0%); /*Vuelve a su posición incial*/
    }
}

.shapes__item--shape3 {
    text-align: left;
    top: 34%;
    left: 50%;

    animation: moveShape3 20s infinite; /*es infinita*/
    z-index: 3;
}

@keyframes moveShape3 {
    0% {
        transform: translateX(0) translateY(0);
    }

    40% {
        transform: translateX(50px) translateY(-200px);
    }

    75% {
        transform: translateX(800px);
    }

    100% {
        transform: translateX(0) translateY(0);  /**La primera y la última son iguales para que la tranformación sea suavizada*/
    }
}

.shapes__item--shape4 {
    bottom: 24rem;
    left: 45%;

    animation: moveShape4 30s infinite; /*es infinita*/
    z-index: 2;
}

@keyframes moveShape4 {
    0% {
        transform: translateX(0) translateY(0);
    }

    40% {
        transform: translateX(-50px) translateY(200px);
    }

    75% {
        transform: translateX(-500px);
    }

    100% {
        transform: translateX(0) translateY(0);  /**La primera y la última son iguales para que la tranformación sea suavizada*/
    }
}

.shapes__item--shape4 .shapes__img {
    width: 7.5rem;
    opacity: 0.5;
}

.shapes__item--shape5 {
    bottom: 12rem;
    left: 53%;
    opacity: 0.7;

    animation: moveShape5 45s infinite; /*es infinita*/
    z-index: 2;
}

@keyframes moveShape5 {
    0% {
        transform: translateX(0) translateY(0);
    }

    40% {
        transform: translateX(-600px) translateY(-500px);
    }

    75% {
        transform: translateX(30px) translateY(-800px);
    }

    100% {
        transform: translateX(0) translateY(0);  /**La primera y la última son iguales para que la tranformación sea suavizada*/
    }
}


.shapes__item--shape6 {
    bottom: 10rem;
    left: 40%;
    animation: moveShape3 35s infinite; /*es infinita*/
}

.shapes__item--shape7 {
    top: 0;
    right: 10rem;
    z-index: 1;

    animation: showTop 1s;
}

@keyframes showTop {
    0% {
        transform: translateY(-90%);  /*Se mueve un 50 porciento a la derecha*/
    }
    100% {
        transform: translateY(0%); /*Vuelve a su posición incial*/
    }
}

/*SECCIÓN SERVICIOS*/
.layout__services {
    margin: 14rem 10rem 8rem 10rem;
    position: relative;  /**Para que luego si se pone algun elemento dentro del contendor que tenga position absolute no se salga del contenedor*/
    z-index: 2;
}

.services__grid {
    margin: 0 auto;
    max-width: var(--mx-width);
}

.services__header {
    text-align: left;
    margin-bottom: 2rem;
}

.services__subtitle, 
.projects__subtitle, 
.stats__stubtitle,
.reviews__subtitle,
.clients__subtitle,
.news__subtitle {
    color: var(--color-subtitle);
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.services__tile, 
.projects__title, 
.stats__title,
.reviews__title,
.clients__title,
.news__title {
    color: var(--color-title);
    font-size: 6.7rem;
    font-weight: 500;
    line-height: 1.2;
}

.services__list {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.services__service {
    flex-basis: 33%;
    height: 100%;
    padding: 5rem 4rem;
    margin-bottom: 4rem;
    background: linear-gradient(180deg, var(--color-bg-services), rgba(255, 255, 255, 0));
    background-color: var(--color-secondary);
    border: 1px solid;
    border-image-source: linear-gradient(900deg, var(--color-bg-services), rgba(255, 255, 255, 0));
    border-radius: 3rem;
    transition: all 300ms ease-in-out;

    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.services__service:hover {
    background-color: var(--color-bg-services);
}

.service__container-img {
    margin-right: 2.5rem;
    max-width: 8.5rem;
    flex: 1;
}

.service__content {
    flex: 1;  /*Así se distribuye el espacio de igual manera con la imagen y el contenido del servicio*/
}

.service__title {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 3rem;
}

.service__link {
    color: var(--color-title);
}

.service__description {
    font-size: 1.7rem;
    overflow: hidden;
    margin-bottom: 4rem;
}

.service__more {
    color: var(--color-text-body);
    font-size: 1.7rem;
    font-weight: 500;
    padding-left: 5rem;
    display: inline-block;
    position: relative;
    transition: all 300ms ease-in-out;
}

.service__more::before {
    content: "";
    width: 35px;
    height: 1.5px;
    top: 12px;
    left: 0;
    background-color: var(--color-text-body);
    position: absolute;
    transition: all 300ms ease-in-out;

}

.service__more:hover,
.service__link:hover {
    color: var(--color-primary);
}

.service__more:hover::before {
    background-color: var(--color-primary);
}

/*ESCALONADO DE LAS TARJETAS DE SERVICIOS*/
.services__servide--bottom {
    margin-top: 20rem;
}

.services__servide--middle {
    margin-top: 10rem;
}

/*FORMAS DETRÁS DE LOS SERVICIOS*/
.service-shapes__item {
    position: absolute;
    z-index: -1;
    pointer-events: none;
}

.service-shapes--sahpe1 {
    top: -57px;
    right: 73px;
}

.service-shapes--sahpe2 {
    top:7%;
    left: 62%;
}

.service-shapes--sahpe3 {
    top: 33%;
    left: 156px;
}

/*SECCIÓN PROYECTOS*/
.layout__projects {
    background-color: var(--color-bg-projects);
    padding: 14rem 10rem;
    position: relative;
    z-index: 2;
}

.projects__grid {
    max-width: var(--mx-width);
    margin: 0 auto;
}

.projects__header {
    margin-bottom: 4rem;
}

.projects__subtitle {
    text-transform: capitalize;
}

.projects__categories {
    display: flex;
    flex-direction: row;
    gap: 8rem;
    margin-bottom: 5rem;
}

.categories__item {
    font-size: 2rem;
    font-weight: 500;
    cursor: pointer;
    padding: 0.8rem 0;
    transition: all 150ms ease-in-out;
}

.categories__item--active, .categories__item:hover {
    border-bottom: 3px solid var(--color-primary);
}

.categories__item--active .categories__link {
    color: var(--color-title);

}

.categories__link {
    color: var(--color-text-body);
}

.projects__all {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem 7rem;  /*De esta forma deja más espacio entre los elementos por los lados y abajo deja menos espacio*/
}

.projects__project {
    flex-basis: calc(50% - 4rem);
}

.project__container-img {
    width: 100%;
    border-radius: 30px 30px 0 0;
    overflow: hidden; /*para que salgan los border redondeados y que nunca se salga del tamaño si la imagen supera el tamaño, se ocultará si lo supera*/
}

.project__img {
    width: 100%;
    transition: all 800ms linear;
}

.projects__project:hover .project__img{
    transform: scale(1.2)
}

.project__content {
    background-color: var(--color-secondary);
    padding: 5rem;
    border-radius: 0 0 30px 30px;
}

.project__title {
    color: var(--color-title);
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.project__title:hover {
    color: var(--color-primary);
    transition: all 300ms ease-in-out;
}

.project__tag {
    font-size: 1.7rem;
}

/*FORMAS DETRÁS DE LOS PROYECTOS*/
.project-shapes__item {
    top: 0;
    position: absolute;
    z-index: -1;
    pointer-events: none;  /*para que no puedan hacer clic en las imagenes*/
}

.project-shapes--sahpe1 {
    top: 4%;
    right: 11%;
}

.project-shapes--sahpe2 {
    top: 8%;
    right: 35%;
}

.project-shapes--sahpe3{
    top: 40%;
    left: 8%;
}


/*ESTILOS PARA ESTADÍSTICA Y MEJORES CLIENTES*/
.layout__stats, 
.layout__clients {
    padding: 14rem 10rem;
    background-color: var(--color-bg-dark);
}

.stats__container, 
.clients__container {
    text-align: center;
    margin: 0 auto;
    max-width: var(--mx-width);
}

.stats__title, 
.clients__title {
    color: var(--color-secondary);
    font-size: 6.4rem;
    margin-bottom: 3rem;
}

.stats__description,
.clients__description{
    color: var(--color-text-description);
    font-size: 2rem;
    width: 50%;
    margin: 0 auto 4rem;
}

.stats__progress {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
}

.stats__stat {
    flex-basis: 25%;
    padding: 7rem 2rem;
    border-radius: 2rem;
}

.stats__stat:hover {
    background: linear-gradient(180deg, var(--color-bg-dark), var(--color-hover-dark));
}

.stat__icon {
    margin-bottom: 2rem;
}

.stat__icon>img {
    margin: 0 auto;
}

.stat__count {
    color: var(--color-primary);
    font-size: 6.4rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    display: inline-block;
}

.stat__title {
    color: var(--color-secondary);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.2;
}

/*ESTILOS PARA LAS RESEÑAS*/
.layout__reviws {
    padding: 14rem 0 11rem 0;
    position: relative;
    z-index: 1;
}

.reviews__grid {
    max-width: var(--mx-width);
    margin: 0 auto;
}

.reviws__header {
    text-align: left;
    margin-bottom: 6rem;
}

.reviews__description,
.news__description  {
    font-size: 2rem;
    margin: 3rem 0;
}

.reviews__container {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.reviews__review {
    flex-basis: 33%;
    padding: 5rem 0 3rem 0;
}

.review__company {
    display: inline-block;
    margin-bottom: 3rem;
}

.review__description {
    color: var(--color-text-body);
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 4rem;
}

.review__author {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}

.author__container-img {
    border-radius: 50%;
    overflow: hidden;
}

.author__name {
    color: var(--color-title);
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 0.2rem;
    display: block;
}

.author__description {
    color: var(--color-text-description);
    font-size: 1.7rem;
    display: block;
    opacity: 0.7;
}

.review-shapes__item {
    top: 16%;
    right: 26%;
    pointer-events: none;
    position: absolute;
    z-index: -1;
}

/*SECCIÓN CLIENTES*/
.layout__clients {
    padding-bottom: 12rem;
    position: relative;
    z-index: 1;
}

.clients__container,
.clients__description {
    text-align: left;
}

.clients__title {
    width: 50%;
}

.clients__description {
    width: 40%;
    margin: 0;
    margin-bottom: 6rem;
}

.clients__logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;

}

.clientes__item {
    flex-basis: calc(25% - 3rem);
    margin: 0 auto;
}

.clients__img {
    filter: grayscale(100%);
    opacity: 0.3;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.clientes__item:hover > .clients__img {  /*> su hijo directo del elemento*/
    filter: grayscale(0%);
    opacity: 1;
}

.client-shapes__item {
    top: 80px;
    right: 0;
    position: absolute;
    z-index: -1;
}

/*ULTIMAS NOTICIAS*/
.layout__news {
    padding: 14rem 0;
    position: relative;
    z-index: 1;
}

.news__container {
    max-width: var(--mx-width);
    margin: 0 auto;
}

.news__header {
    text-align: center;
    margin-bottom: 0.6rem;
}

.news__list {
    margin-top: 6rem;
    display: flex;
    flex-direction: row;
}

.news__new {
    flex-basis: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    padding: 4rem 2rem 4rem 0;
    border-top: 1px solid var(--color-borders);
    border-bottom:  1px solid var(--color-borders);
    transition: all 300ms ease-in-out;
}

.news__new:hover {
    border-top-color: var(--color-primary);
    border-bottom-color: var(--color-primary);
}

.news__new:last-child {
    border-left:  1px solid var(--color-borders);
    padding-left: 2.5rem;
}

.new__container-img {
    /* height: 260px; */
    border-radius: 3rem;
    overflow: hidden;
}

.new__img {
    border-radius: 3rem;
    transition: all 300ms ease-in-out;
}

.news__new:hover .new__img{
    transform: scale(1.1);
}

.new__content {
    flex: 1;  /*es lo mismo que flex-basis 50%*/
}

.new__title {
    color: var(--color-title);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 2rem;
    transition: all 300ms ease-in-out;
}

.new__description {
    color: var(--color-text-description);
    font-size: 1.7rem;
    margin-bottom: 3rem;
}

.news__new:hover .new__title,
.new__more:hover {
    color: var(--color-primary);
}

.new__more {
    color: var(--color-title);
    font-size: 1.7rem;
    font-weight: 500;
    display: inline-block;
    transition: all 300ms ease-in-out;
}

.new__icon {
    font-size: 1.3rem;
    vertical-align: middle;
}

.new-shapes__item {
    position: absolute;
    z-index: -1;
}

.new-shapes--sahpe1 {
    top: 14%;
    left: 14%;
}

.new-shapes--sahpe2 {
    top: 12%;
    right: 0;
}

.new-shapes--sahpe3 {
    bottom: 8%;
    left: 0;
}

.new-shapes--sahpe4 {
    bottom: 6%;
    right: 10%;
}

/*CONTACTO*/
.layout__contact {
    padding: 14rem 0 10rem 0;
    position: relative;
    overflow: hidden;
}

.layout__contact:before {
    content: "";
    width: 100%;
    height: 65rem;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--color-primary);
    position: absolute;
    z-index: -1;
}

.contact__container {
    max-width: var(--mx-width);
    margin: 0 auto;
    overflow: hidden;
}

.contact__header {
    text-align: center;
    margin-bottom: 6.5rem;
}

.contact__subtitle {
    color: var(--color-bg-btn);
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.contact__title {
    color: var(--color-secondary);
    font-size: 6.4rem;
    font-weight: 500;
    line-height: 1.2;
    margin: 0 auto 6rem;
}

.contact__btn {
    color: var(--color-primary);
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
    background-color: var(--color-secondary);
    padding: 2.3rem 5.5rem;
    border-radius: 20px;
    display: inline-block;
    z-index: 1;
    overflow: hidden;
    transition: all 300ms ease-in-out;
}

.contact__btn:hover {
    background-color: var(--color-bg-btn);
}

.contact__images {
    text-align: center;
    position: relative;
    border-bottom: 1px solid var(--color-borders);
}

.contact__thumb  {
    display: inline-block;
}

.contact__thumb--chat {
    margin-right: -180px;
    margin-bottom: -8px;

}

.contact__thumb--laptop {
    bottom: 0;
    left: 160px;
    position: absolute;
}

.contact__thumb--mobile {
    bottom: 0;
    right: 80px;
    position: absolute;
}

.backshapes__item  {
    position: absolute;
    z-index: -1;
}

.backshapes--sahpe1 {
    top: 0;
    right: 30%
}

.backshapes--sahpe2 {
    top: 180px;
    left: 18%;
    opacity: 0.5;
    animation: moveShape3 20s infinite;
}

.backshapes--sahpe3 {
    top: 31%;
    left: 20%;
    animation: moveShape4 25s infinite;
}

.backshapes--sahpe4 {
    top: 44%;
    left: 25%;
    animation: moveShape3 25s infinite;
}

.backshapes--sahpe5 {
    top: 20%;
    right: 30%;
    animation: moveShape4 30s infinite;
}

.backshapes--sahpe6 {
    top: 26%;
    right: 21%;
    animation: moveShape5 30s infinite;
}

.backshapes--sahpe7 {
    top: 30%;
    right: 15%;
    animation: moveShape3 30s infinite;
}

/*FOOTER*/
.layout__footer {
    padding-top: 1rem;
    position: relative;
    max-width: var(--mx-width);
    margin: 0 auto;
}

.footer__top {
    padding-bottom: 7rem;
}

.footer__social {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.social__img {
    color: var(--color-text-description);
    font-size: 3rem;
    display: inline-block;
    padding: 0.5rem;
    transition: all 300ms ease-in-out;
}

.social__link:hover>.social__img {
    color: var(--color-text-body);
}

.footer__main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer__fleft {
    flex-basis: 50%;
}

.fleft__container {
    margin: 0 4rem 8rem 0;
    padding-right: 8rem;
    border-right: 1px solid var(--color-borders);
}

.fleft__title {
    color: var(--color-title);
    font-size: 6.4rem;
    line-height: 1.2;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
}

.fleft_subtitle {
    font-size: 1.8rem;
    margin-bottom: 4rem;
}

.fleft__group {
    width: 100%;
    background-color: var(--color-secondary);
    border-radius: 20px;
    height: 7.2rem;
    padding: 1rem;
    box-shadow: 0 24px 48px -15px #d2d0d0;
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.fleft__mail-icon {
    padding: 0 2rem;
}

.fleft__form-control {
    color: var(--color-title);
    height: auto;
    padding: 0 1.5rem;
    border: none;
    outline: none;
    flex: 1;
}

.fleft__btn {
    color: var(--color-secondary);
    background-color: var(--color-primary);
    padding: 1.5rem 2rem;
    border-radius: 1.5rem;
    border: none;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.fleft__btn:hover {
    color: var(--color-text-body);
    background-color: var(--color-bg-btn);
}

.footer__fright {
    display: flex;
    flex-direction: row;
    flex-basis: 50%;
}

.footer__widget {
    margin-bottom: 8rem;
}

.footer__widget--50 {
    flex-basis: 50%;
}

.footer__widget--25 {
    flex-basis: 25%;
}

.widget__title {
    color: var(--color-title);
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 3rem;
}

.widget__link {
    font-size: 1.8rem;
    padding: 0.8rem 0;
    display: inline-block;
    transition: all 300ms ease-in-out;
}

.widget__link:hover {
    color: var(--color-primary);
}

.footer__bottom {
    font-size: 1.6rem;
    border-top: 1px solid var(--color-borders);
    padding: 2.5rem 0;
    display: flex;
    align-items: center;
    position: relative;
}

.footer__copyright {
    flex-basis: 50%;
}

.copyright__text {
    color: var(--color-text-body);
    opacity: 0.8;
}

.footer__links {
    flex-basis: 50%;
}

.footer_flinks {
    color: var(--color-text-body);
    opacity: 0.8;
    display: flex;
    justify-content: flex-end;
    gap: 3rem
}

.flinks__title {
    transition: all 300ms ease-in-out;
}

.flinks__title:hover {
    color: var(--color-primary);
}

/*NAVEGACIÓN RESPONSIVE*/
.navbar__mobile_btn {
    display: none;
}

.movile_btn-wrap{
    height: 5rem;
    width: 5rem;
    background-color: var(--color-text-body);
    border: none;
    border-radius: 50%;
    transition: all 300ms ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.mobile-btn__line {
    height: 0.2rem;
    width: 2rem;
    margin-bottom: 0.4rem;
    border-radius: 1rem;
    background-color: var(--color-secondary);
    transition: all 300ms ease-in-out;
}

.mobile-btn__line:last-child {
    margin-bottom: 0;
    width: 1rem;
    margin-right: -1rem;
}

.menu-mobile {
    width: 30rem;
    height: 100%;
    background-color: var(--color-secondary);
    left: -300px;
    top: 0;
    padding: 0 2rem 5rem 2rem;
    position: fixed;  /*para que el menu esté cuando hagamos scroll*/
    box-shadow: 0 0 85px -35px rgba(0, 0,0, 0.15);
    visibility: hidden;
    opacity: 0;
    overflow-y: auto;
    transition: all 500ms cubic-bezier(0.68, 0.2, 0.5, 1);
    z-index: 10;
}

.menu-mobile--show {  /*se crea otra clase para que se ponga cuando se le da el boton y que salga con transicion, hay que quitarle el display none para que se muestren las tranciones*/
    left: -0;
    visibility: visible;
    opacity: 1;
}

.menu-mobile__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1rem;
    padding: 2rem 0;
    border-bottom: 1px solid var(--color-borders);
}

.menu-mobile__container-logo {
    width: 15rem;
}

.menu-mobile__btn_close {
    color: var(--color-bg-dark);
    font-size: 2.5rem;
    background-color: transparent;
    height: 3rem;
    width: 3rem;
    border: none;
    cursor: pointer;
}

.menu-mobile__list {
    height: 100%;
    overflow: auto;
    display: block;
}

.menu-mobile__item {
    margin: 0 1rem;
    position: relative;
    border-bottom: 1px solid var(--color-borders);
}

.menu-mobile__link {
    color: var(--color-text-body);
    font-weight: 500;
    height: 5rem;
    line-height: 5rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-mobile__icon {
    font-size: 1.4rem;
}

.menu-mobile__submenu {
    padding: 0;
    padding-bottom: 1rem;
    min-width: 100%;
    opacity: 1;
    visibility: visible;
    display: none;
}

.submenu-mobile__link {
    color: var(--color-text-body);
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: capitalize;
    padding: 0.7rem 1rem;
    display: block;
    position: relative;
}

/*BOTÓN MODO OSCURO*/
.switcher {
    top: 20rem;
    left: 0;
    background-color: var(--color-primary);
    border-radius: 0 2rem 2rem 0;
    padding: 1rem;
    position: fixed;
    z-index: 5;
}

.switcher__btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
}

.switcher__icon-light,
.switcher__icon-dark {
    color: var(--color-secondary);
    font-size: 1.8rem;
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
}

.switcher__icon-dark {
    display: none;
}